{% extends "base.html" %}

{% block title %}
   {{user.username}}
{% endblock %}

{% load staticfiles %}
{% block content %}

<div class="row">
	<div class="col-md-3 col-sm-4 col-xs-6 color-1">
		<img src="{{user.person.user_pic.url}}">
	</div>

	<div class="col-md-3 col-sm-4 col-xs-6 color-1">

  	<form method="post" action="" >
		<div class="form-group">

 			<input type="text" name="coords" id="client_coords" value="">

			{% csrf_token %}
			<input type="submit" value="Найти ближайшие кафе" class="btn btn-primary">
		</div>
	</form>
	</div>
</div>


{% for place in places %}
<ul>
	<li>{{place}}</li>
</ul>


{% endfor %}

{% endblock %}


