{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Картограф|{% block title %}{% endblock %}</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<link rel="shortcut icon" href="/media/favicon.ico">


</head>
<body>
  <header>
	<nav>
		<ul>
		<li><a href="/">Главная</a></li>
		<li><a href="/accounts/registration">Регистрация</a></li>
			<li>
				{% if user.is_authenticated %}
				  <a href="/accounts/{{user.id}}">Мой кабинет</a>
				  <a href="/accounts/logout">Выход</a>
				  <img src="{{user.user_pic}}">
				 {% else %}
				  <a href="/accounts/login">Войти</a>
				{% endif %}
			</li>
		</ul>
	</nav>
  </header>

{% block content %}{% endblock %}


<script type="text/javascript">
	

window.onload = function() {
	if (navigator.geolocation) {

		navigator.geolocation.getCurrentPosition(
			geolocationSuccess, geolocationFailure, 
				
				{
				enableHighAccuracy: true,
			 	timeout: 10000,
			 	maximumAge: 60000
			    }
		);

		console.log("Поиск начался");
	}

	else {
		alert("Ваш браузер не поддерживает геолокацию");
	}
}


function geolocationSuccess(position) {
	document.getElementById('client_coords').value =[
		position.coords.latitude,
		position.coords.longitude,
		position.coords.accuracy
		];
}



function geolocationFailure(positionError) {
	if(positionError) {
		alert("Вы решили не предоставлять данные о своем местоположении, " + 
		        "но это не проблема. Мы больше не будем запрашивать их у вас."+"Но реузльтат выйдет довольно не точный");

		document.getElementById('client_coords').value = 'no coords';
	}

}




</script>

</body>
</html>