{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Картограф|{% block title %}{% endblock %}</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<link rel="shortcut icon" href="/media/favicon.ico">


</head>
<body>
  <header class="mb-5">
	<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		
		<a href="/" class="navbar-brand">Главная</a></li>
		<a href="/accounts/registration" class="lead">Регистрация</a></li>
			{% if user.is_authenticated %}
				<a href="/accounts/{{user.id}}" class="lead">Мой кабинет</a>
				<a href="/accounts/logout" class="lead">Выход</a>
		    {% else %}
				 <a href="/accounts/login" class="lead">Войти</a>
			{% endif %}
	</nav>
  </header>


<div class="container">

{% block content %}{% endblock %}
</div>

<!--https://professorweb.ru/my/html/html5/level8/8_1.php--> 
https://habr.com/post/193372/ 


<script type="text/javascript"> 

navigator.geolocation.getCurrentPosition( 
	function(position) { 
		document.getElementById('client_coords').value = [position.coords.latitude+':'+ position.coords.longitude]; 
} 



); 

</script>
</body>
</html>